services:
  web:
    build: .
    container_name: django_web
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    environment:
      DJANGO_SECRET_KEY: dev-only-change-me
      DJANGO_DEBUG: "1"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1"

      DB_NAME: appdb
      DB_USER: app
      DB_PASSWORD: apppw
      DB_HOST: host.docker.internal
      DB_PORT: "5433"

      TZ: Asia/Taipei
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      sh -lc "
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      "
    restart: "no"
